body{
    background-color: rgb(172, 226, 235);
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: bold;
    
}
h2{
    color: rgb(29, 32, 184);
    text-align: Center;
    font-size: 48px;
    margin-top: -10px;
    font-family: Arial;
text-decoration-line: underline;

}
h3{
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    
}
.Test{
    color: rgb(168, 0, 0);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
.tp{
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}  