.main ul {
  text-align: left;
  margin-left: 40px;
  background-color: #dcf2ff;
}

.main h2 {
  margin-top: 30px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.main h3 {
  margin-top: 20px;
}
.resume-container h1, h2, h3 {
  color: #2c3e50;
}

.resume-container ul {
  padding-left: 20px;
  line-height: 1.6;
}