body{
    background-color: rgb(0, 0, 0);
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: bold;
    
}
h2{
    color: rgb(0, 0, 0);
    text-align: Center;
    font-style: italic;
    margin-top: -40px;
}

.LIT{
    color: rgb(249, 0, 0);
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
}